QPushButton{
    border-style: none;
    background-color: #444444;
}

QPushButton:hover{
    color: #aaa;
    background-color: #7d7d7d;

}
QPushButton:pressed{
    color: rgb(255, 255, 255);
    background-color: #000000;
}

